.HomePage-container{

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.HomePage-cta{

    height:100%;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    max-width: 486px;
    margin-top: 40px;
    padding-right: 12px;
    padding-left: 12px;
    align-items: flex-start;
    

}
.HomePage-cta-header{

    margin-top: 0;
    margin-bottom: 24px;
    font-family: 'DM Serif Display',sans-serif;
    color: #353640;
    font-size: 54px;
    line-height: 60px;
    font-weight: 400;

}

.HomePage-cta-subheader{
    color: #353640;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;
}

.HomePage-cta-btns > *{

    margin-top: 20px;
}

#HomePage-signup-btn{
   
    border: 2px solid #d0021b;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    padding: 10px 24px;
    -webkit-transition: opacity .2s,color .2s,border-color .2s,background-color .2s;
    transition: opacity .2s,color .2s,border-color .2s,background-color .2s;
    color: #fff;
    background-color: #d0021b;
    font-weight: 700;
    text-align: center;

}

#HomePage-signup-btn:hover{

    cursor: pointer;
    opacity: .75;
}

.text-span-7{
    background-image: url("https://assets-global.website-files.com/5dcc7f8c449e597ed83356b8/5f403ac2a033e86bcecf7ec1_Artboardunderline.webp");
    background-position: 50% 80%;
    background-size: 95px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-style: italic;
    font-weight: 400;
    text-decoration: none;
    white-space: normal;
    background-clip: border-box;
    -webkit-text-fill-color: inherit;
}

.login-cta{
    color: #353640;
    font-style: normal;
    /* text-decoration: none; */
    font-weight: 500;
}

.login-cta:hover {

    color: #d0021b;
}
@media screen and (max-width: 500px){

    .HomePage-hero{
        display:none;
    }
    .HomePage-container{

        display: none;
    }

}

@media screen and (min-width: 501px)and (max-width:767px){
    .HomePage-hero{
        display: none;

    }

}

@media screen and (min-width:768px){
    .HomePage-hero-img {
        font-size: 40px;
        line-height: 48px;
        max-height: 800px;

    }
}

.HomePage-hero-img{
    object-fit: cover;
    border: 0;
    max-width: 100%;
    vertical-align: middle;
}