.TaskDetail-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:start;
    max-width: 1400px;
    margin: auto;
}

.TaskDetail-btns{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}
.TaskDetail-detail{
    max-width: 800px;
    margin: auto;
    padding: auto;
    overflow-y: scroll;
}
.TaskDetail-lists{
    display: block;
}

.TaskDetail-detail-container{
    display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
}