.TaskDetail-container{
    display: grid;
    overflow-x: hidden;
    overflow-y:auto;
    height: 100vh;
    width: 100%;
    grid-template-columns: 40% 60%;
    
}

.TaskDetail-left-container{

    display: flex;
    flex-direction: column;
    align-items:left;
    border-right: 1px ridge;
}


.TaskDetail-left{
    margin:50px;
}

.TaskDetail-title{
    text-overflow: ellipsis;
    overflow:hidden;
}

.TaskDetail-btns{
    display:flex;

    flex-flow: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.TaskDetail-detail{
    max-width: 800px;
    margin: auto;
    padding: auto;
    overflow-y: scroll;
}
.TaskDetail-lists{
    margin:50px;
    height: 100%;
    overflow-y: scroll;
    padding-right: 50px;
    width: 100%;
}

.TaskDetail-detail-container{
    display:flex;
    flex-direction: row;
    margin-top:100px;
    justify-content: flex-start;
    padding-left:50px;
    padding-right:50px;
    /* display:grid;
    grid-template-columns: repeat(2, minmax(0, 1fr)); */
}
.TaskDetail{
    width:100%;
    height: 100%;
    
    /* border: 1px gray solid; */
    /* margin-right: 50px; */

}

