/* TODO Add site wide styles */
html, body, #root{
    height: 100%;
    margin: 0;
}


/************PIN FOOTER DOWN***************/

.content-container {
  min-height: calc(100vh - 100px);
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.footer--pin {
  position: relative;
  left: 0;
  bottom: 0;
}
/***************************/
*{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}

.button{
    border: var(--border,1px solid #d0021b);
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: .05em;
    line-height: 1.5;
    margin: 0;
    padding: 9px 11px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
}

.button.green{
    --border: 1px solid #4dc981;
}

.button:hover:not([disabled]) .button-bg {
     
		bottom: -1px;
		left: -1px;
		right: -1px;
		top: -1px;

}

.button-inner{
    display: inline-block;
    padding: 7px 10px 5px;
    position: relative;
    z-index: 1;
}

.button-bg{
  background-color: var(--background-color,#d0021b);
  bottom: 5px;
  left: 7px;
  position: absolute;
  right: 7px;
  top: 5px;
  transition: all 200ms ease;
  z-index: 0;
}

.button-bg.green{
    --background-color: #4dc981;
}

.green-btn{
        background-color: #4dc981;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-size: 12px;
        letter-spacing: 1px;
        background: #4dc981;
        border: none rgb(77, 201, 129);
        border-radius: 5px;
        position: relative;
        padding: 15px 20px;
        filter: none;
        outline-width: thin;
        transition: background 0.2s ease 0s;
        min-width: 100px;
        max-height: 30px;
        cursor: pointer;
        font-weight: 700;
        outline-color: rgb(77, 201, 129);
}

.red-btn{
    background-color: #d0021b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 1px;
    background: #d0021b;
    border: none #d0021b;
    border-radius: 5px;
    position: relative;
    padding: 15px 20px;
    filter: none;
    outline-width: thin;
    transition: background 0.2s ease 0s;
    min-width: 100px;
    max-height: 30px;
    cursor: pointer;
    font-weight: 700;
    outline-color: #d0021b;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: lightcoral;
  }
.sidebar {
  position: fixed;
  /* top: 60px; */
  left: -20vw;
  height: 100%;
  width: 20vw;
  transition: left 1s ease-in-out;
  background-color: white;
  box-shadow: rgb(0 0 0 / 10%) 2px 0px 10px 0px;
  z-index: 3;
  
}
.sidebar-toggle {
  position: absolute;
  top: 20%;
  right: -60px;
  height: 60px;
  width: 60px;
  z-index: 1;
}
.content {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  height: 100%;
  transition: left 1s ease-in-out;
  background-color: white;
}
.sidebar-active-page{
  position: relative;
  /* margin-left: 20vw; */
  /* left: 20vw; */
  width: 80vw;
  transition: right 1s ease-in-out;
}

.sidebar-inactive-page{
  position: relative;
  left: 0;
  width: 100vw;
  transition: left 1s ease-in-out;
}


.sidebar.open {
  left: 0;
  transition: right 1s ease-in-out;
}

  
.fa-bars,.fa-arrow-left-long,.fa-bars,fa-arrow-right-long{
  color: rgb(163, 198, 231);
 
}

.fa-bars:hover,.fa-arrow-left-long:hover, .fa-house-flag:hover{
  color: #4dc981;
  cursor: pointer;

}

.page-container{

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.learnpage-title-container{
  background-color: #1464cb;
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  
}
.sidebar-active-content-title{
    position: relative;
    width: 80%;
    margin-left: 20vw;
}

.sidebar-active-content-title > * {
  position: relative;
  right:10vw;
}

ul.errorMsg > li {
  list-style: none;
}

li.errors{
  color: #d0021b;
}


pre.ql-syntax{
  background-color: black;
  color: white;
}