/* TODO Add site wide styles */
html, body, #root {
    height: 100%;
    margin: 0;
}

*{
    font-family: 'Titillium Web', sans-serif;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
}

.button{
    border: var(--border,1px solid #d0021b);
    color: white;
    display: inline-block;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: .05em;
    line-height: 1.5;
    margin: 0;
    padding: 9px 11px;
    position: relative;
    text-decoration: none;
    text-shadow: none;
    text-transform: uppercase;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    cursor: pointer;
}

.button.green{
    --border: 1px solid #4dc981;
}

.button:hover:not([disabled]) .button-bg {
     
		bottom: -1px;
		left: -1px;
		right: -1px;
		top: -1px;

}

.button-inner{
    display: inline-block;
    padding: 7px 10px 5px;
    position: relative;
    z-index: 1;
}

.button-bg{
  background-color: var(--background-color,#d0021b);
  bottom: 5px;
  left: 7px;
  position: absolute;
  right: 7px;
  top: 5px;
  transition: all 200ms ease;
  z-index: 0;
}

.button-bg.green{
    --background-color: #4dc981;
}

.green-btn{
        background-color: #4dc981;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-size: 12px;
        letter-spacing: 1px;
        background: #4dc981;
        border: none rgb(77, 201, 129);
        border-radius: 5px;
        position: relative;
        padding: 15px 20px;
        filter: none;
        outline-width: thin;
        transition: background 0.2s ease 0s;
        min-width: 100px;
        max-height: 30px;
        cursor: pointer;
        font-weight: 700;
        outline-color: rgb(77, 201, 129);
}

.red-btn{
    background-color: #d0021b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 1px;
    background: #d0021b;
    border: none #d0021b;
    border-radius: 5px;
    position: relative;
    padding: 15px 20px;
    filter: none;
    outline-width: thin;
    transition: background 0.2s ease 0s;
    min-width: 100px;
    max-height: 30px;
    cursor: pointer;
    font-weight: 700;
    outline-color: #d0021b;
}
/* 
.sidebar{
    width: 400px;
    float: left;
    top: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    transition: width 0.3s ease 0s;
    overflow: hidden auto;
    height: 100%;
    box-shadow: rgb(0 0 0 / 10%) 2px 0px 10px 0px;
    position: relative;
    background: rgb(255, 255, 255);
}
.hide-sidebar{

    width: 0px !important;

} */


header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: lightcoral;
  }
  .sidebar {
    position: absolute;
    top: 60px;
    left: -15vw;
    height: calc(100% - 160px);
    width: 15vw;
    transition: left 0.3s ease-in-out;
    background-color: white;
    
  }
  .sidebar-toggle {
    position: absolute;
    top: 20%;
    right: -60px;
    height: 60px;
    width: 60px;
    z-index: 1;
  }
  .content {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    height: 100%;
    transition: left 0.3s ease-in-out;
    background-color: white;

  }
  .sidebar-active-content{

    position: relative;
    left: 200px;
    transition: right 0.3s ease-in-out;
  }

  .sidebar-inactive-content{
    position: relative;
    left: 0px;
    transition: left 0.3s ease-in-out;
  }
  
  .sidebar.open {
    left: 0;
  }
  .content.open {
    left: 15vw;
  }
  


.fa-bars,fa-arrow-left-long,.fa-bars,fa-arrow-right-long{

  color: rgb(163, 198, 231);
 
}

.fa-bars:hover,fa-arrow-left-long{

  color: white;
  cursor: pointer;

}

.learnpage-title-container{
  background-color: #1464cb;
}