/* TODO Add site wide styles */
html, body, #root {
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
}

.green-btn{
        background-color: #4dc981;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgb(255, 255, 255);
        font-size: 12px;
        letter-spacing: 1px;
        background: #4dc981;
        border: none rgb(77, 201, 129);
        border-radius: 5px;
        position: relative;
        padding: 15px 20px;
        filter: none;
        outline-width: thin;
        transition: background 0.2s ease 0s;
        min-width: 100px;
        max-height: 30px;
        cursor: pointer;
        font-weight: 700;
        outline-color: rgb(77, 201, 129);
}

.red-btn{
    background-color: #d0021b;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 12px;
    letter-spacing: 1px;
    background: #d0021b;
    border: none #d0021b;
    border-radius: 5px;
    position: relative;
    padding: 15px 20px;
    filter: none;
    outline-width: thin;
    transition: background 0.2s ease 0s;
    min-width: 100px;
    max-height: 30px;
    cursor: pointer;
    font-weight: 700;
    outline-color: #d0021b;
}