.enroll-sidebar-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* position: relative;
    z-index: 99; */

}

.loadsidebar{
    
    margin-top: 50vh;

}