.EnrollmentDetailPage-container{
    display: flex;
    flex-direction: column;

    
}


.EnrollmentDetailPage-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    width: 800px;
}