.AssignmentSideBar-container{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

}

.AssignmentSideBar-Enrollment-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;

    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-bottom: 20px;
}

.AssignmentSideBar-Enrollment-header > * {
    text-align: center;
    align-items: center;
}

.asb-arrow{
    display: flex;
    width: 50px;
    justify-content: center;
    align-items: center;
}

.AssignmentSideBar-Enrollment{

    width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}