.ali-student-container{

    font-size: 0.875rem;
    width: 100%;
    margin: auto;
}

.ali-student-item{
    display:flex;
    justify-content: space-between;
    min-height: 30px;
    margin: auto;

}

.ali-student-item > *{
    margin: auto;
}

.ali-student-item:hover{

    cursor:pointer;
    background: #f7f7f7;
}

.fa-circle-check{

    color:green;


}

.fa-circle{
    color:gray;

}