.loginForm{

    display: flex;
    flex-direction: column;
    align-items: center;

}
.login-btn{
    background-color: #d0021b;
    color:white;
}

.app-academy-logo-login{

    width: 400px;
    height: 200px;
}