.signUpForm{

    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;

}
.signup-btn{
    margin-top: 30px;

}

.app-academy-logo-signup{

    width: 300px;
    height: 200px;
}

.signup-input{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin:10px;
}

.signup-input > select{
    width: 153px;
}

