.LearnNavBar-container{

    background-color: #1464cb;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
}
.LearnNavBar-menu{

    
}
.LearnNavBar-links{

    display: flex;
    justify-content: space-around;    
}

.LearnNavBar-linkitem{
    margin: auto;
    margin-left: 10px;
}

.LearnNavBar-linkitem > * {
    color: white;
}