.LearnNavBar-wrapper{
    display: flex;
    justify-content: right;
}


.LearnNavBar-container{

    background-color: #1464cb;
    height: 60px;
    display:flex;
    justify-content: space-between;
    align-items:center;
    padding: 20px;
    width: 100%;
    
}
.LearnNavBar-shortwidth{
    width: 85vw;

}

.LearnNavBar-fullwidth{
    width: 100vw;
}

.LearnNavBar-links{

    display: flex;
    justify-content: space-around;    
}

.LearnNavBar-linkitem{
    margin: auto;
    margin-left: 10px;
}

.LearnNavBar-linkitem > * {
    color: white;
}

