.EnrollmentHomePage-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;

}


.EnrollmentHomePage-items{
    display: flex;
    flex-direction: row;
    width: max-content;
}