.TaskListItem-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
   
}

.TaskListItem-name{

    cursor: pointer;
    

}

.TaskListItem-name:hover{

    color: #4dc981;
}

.TaskListItem-btns{

    display:flex;
    flex-direction: row;
    margin-left:20px;
}

.task-btns{
    width: 200px;
    text-align: center;
    margin-right: 20px;
}