.LearnHomePage-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.learnpage-title-container-text {

    width: 800px;
    text-align: left;
}