.AssignmentListItem-container{

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
 
}

.AssignmentListItem-name{

    text-overflow: ellipsis;
    overflow:hidden;
    cursor: pointer;
    width: 100%;

}

.AssignmentListItem-name:hover{

    color: #4dc981;
}
.AssignmentListItem-btns{

    display:flex;
    flex-direction: row;
    justify-content: space-between;
    

}

.ali-btns{
    width: 250px;
    text-align: center;
    margin-right: 20px;
}